%nav
  = link_to image_tag( 'logo.png'), '/', :class => 'Duarte_logo'
  .mobile-menu
    %a#nav-menu
      .line
      .line
      .line



  %ul.nav
    %li{ nav_active('services.html') }
      = link_to 'services', 'services'
    %li{ nav_active('bio.html') }
      = link_to 'bio', 'bio'
    %li{ nav_active('location.html') }
      = link_to 'location', 'location'
    %li{ nav_active('hair_institute.html') }
      = link_to 'hair institute', 'hair_institute'
    %li{ nav_active('contact_us.html') }
      = link_to 'contact', 'contact_us'
    %li{ nav_active('job_opportunities.html') }
      = link_to 'job opportunities', 'job_opportunities'
 
 


