%nav
  = link_to image_tag( 'logo.png'), '/', :class => 'Duarte_logo'


  %ul.nav
    %li
      = link_to 'home', '/'
    %li
      = link_to 'services', 'services'
    %li
      = link_to 'bio', 'bio'
    %li
      = link_to 'location', 'location'
    %li
      = link_to 'hair institute', 'hair_institute'
    %li
      = link_to 'contact', 'contact_us'
    %li
      = link_to 'job opportunities', 'job_opportunities'
 
 


