.Sidebar_menu
  %ul
    %li
      = link_to 'Services', 'services'
    %li
      = link_to 'Booking', 'booking'
    %li
      = link_to 'Gallery', 'gallery'
    %li
      = link_to 'Video', 'video'
    %li
      = link_to 'Location', 'location'
    %li
      = link_to 'Contact_Us', 'contact_us'
