%nav
  %ul.nav
    %li
      = link_to 'Home', '/'
    %li
      = link_to 'Services', 'services'
    %li
      = link_to 'Bio', 'bio'
    %li
      = link_to 'Gallery', 'gallery'
    %li
      = link_to 'Location', 'location'
    %li
      = link_to 'Hair Institute', 'trichology'
    %li
      = link_to 'Contact Us', 'contact_us'
    %li
      = link_to 'Job Opportunities', 'job_opportunities'
