!!!
%head
  %title Duarte Salon
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %link{:href => "stylesheets/style.css", :media => "screen", :rel => "stylesheet", :title => "style", :type => "text/css"}
  %link{:href => "images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Montserrat", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
  %script{:src => "javascripts/all.js"}
  %script{:src => "/javascripts/modernizr.js"}

  =csrf_meta_tags

%body{:class => page_classes}
  = partial "layouts/elements/nav"
  #container
  -if current_page.data.home == true
    %a{ :href => '/hair_institute'}
      .top.homepage
        .hero
          .image-head{ :style => "background-image: url('/images/hair-institute2.jpg'); background-position-y: 0px; height: 40vw" }
    .column-container
      %a.hair-intitute-link{ :href => '/hair_institute'}
        %h1
          Hair Institute
      .column.home-content
        .cover-wrap
          .text
            =yield
          .cover
            %span READ
        =image_tag 'home-hair-institute.jpg'
        %h2 SALON
      .column
        .cover-wrap
          .cover
            %span READ
        = link_to image_tag( 'home-bio.jpg'), '/bio', :class => 'Duarte_logo'
        %h2
          = link_to ' BIO', '/bio'
      .column
        .cover-wrap
          .cover
            %span READ
        = link_to image_tag( 'home-services.jpg'), '/services', :class => 'Duarte_logo'
        %h2
          = link_to ' SERVICES', '/services'
      .column.bottom
        .cover-wrap.bottom
          .cover.bottom
            %span READ
        = link_to image_tag( 'home-salon.jpg'), '/location', :class => 'Duarte_logo'
        %h2
          = link_to ' LOCATION', 'location'
      .column.bottom
        .cover-wrap.bottom
          .cover.bottom
            %span READ
        = link_to image_tag( 'home-jobs.jpg'), '/job_opportunities', :class => 'Duarte_logo'
        %h2
          = link_to ' JOB OPPORTUNITIES', '/job_opportunities'
      .column.bottom
        .cover-wrap.bottom
          .cover.bottom
            %span READ
        = link_to image_tag( 'home-contact.jpg'), '/contact_us', :class => 'Duarte_logo'
        %h2
          = link_to ' CONTACT', '/contact_us'
  -else
    =yield

  %footer
    %p Duarte Salon 2014 - All Rights Reserved

:javascript
    $("#nav-menu").click(function() {
      $(".nav").toggleClass("nav-show");
    });

    $('document').ready( function() {
      $('.home-content').click(function (){
        $('.home-content').toggleClass( 'show-content' );
      });

      $(window).on('resize', function (){
        $('.cover-wrap').height($('.column img').height());
        $('.cover-wrap.bottom').height($('.column.bottom img').height());
      });

    });

    $(window).load(function() {
      if ($(window).width() < 1140) {
        $(window).trigger('resize');
      }
    });