- wrap_layout :layout do
  %article.blog-content 
    %h2.blog-title 
      = current_article.title

    = current_article.body

    %p.tags 
      - current_article.tags.each do |tag_name|
        = link_to tag_name, tag_path(tag_name)

  %aside.blog-sidebar 
    /* %div.author-display */
    %p.author-name
      = current_article.data.author
    %div.author-bio 
      = current_article.data.bio
    %ul.author-social 
      - if !current_article.data.twitter.nil? && !current_article.data.twitter.empty?
        %li
          %a.twitter{:href => "http://twitter.com/#{current_article.data.twitter}"}
      - if !current_article.data.github.nil? && !current_article.data.twitter.empty?
        %li
          %a.github{:href => "http://github.com/#{current_article.data.github}"}
      - if !current_article.data.google.nil? && !current_article.data.google.empty? 
        %li 
          %a.google-plus{:href => "http://plus.google.com#{current_article.data.google}"}
